{
	"id": "$publication.id",
	"publicationDate": "$publication.publicationDate",
	"title": "$publication.title",
	"authors": [
	#foreach($a in $authors)
	{
		"id": "$a.id",
		"lastName": "$a.lastName",
		"publications": [
##      This is a comment
		#foreach($pubId in $authorPublications.get($a.id))
		{
			"publicationid": "$pubId"
		} 	
		#if($velocityCount != $authorPublications.get($a.id).size()) , #end
 		#end
		]
	}
	#if($velocityCount != $authors.size()) , #end
	#end 
	]
}